.App {
  background-color: #090041;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.body{
  background-color: #090041;
}
.Ellipse2 {
  position: fixed;
  top: 400px;
  left: 1420px;
  width: 600px;
  height: 600px;
  background-image: url('./Ellipse2.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;
  
}
.Ellipse1 {
  position: fixed;
  top: 250px;
  left: 0%;
  width: 700px;
  height: 700px;
  background-image: url('./Ellipse\ 1.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;

}

.Ellipse3 {
  position: fixed;
  top: 0%;
  right: 300px;
  width: 700px;
  height: 700px;
  background-image: url('./Ellipse\ 3.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;
}

.logo{
  mix-blend-mode: color-burn;
}

.navbar {
background: transparent;
box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(50px);
font-family: Verdana, Geneva, Tahoma, sans-serif;
z-index: 1;
}

.nav-link {
  color: #fff !important;
}

.loada {
  z-index: 1;
}

.spin {
  margin-right: 1rem;
  margin-bottom: 1.05rem;
  color: #fff;
}

.loada .loadb {
  color: white;
}

.bg{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 400px;
  margin-left: 800px;
}
.circle {
  position: fixed;
  border: 2px solid wheat;
  border-radius: 50%;
  box-shadow: 0 0 10px wheat;
  pointer-events: none;
  position: fixed;
  top: -10rem;
  left: -10rem;
  height: 2rem;
  width: 2rem;
  transition: transform 50ms, background 50ms;
  z-index: 10;
}
