.navbar {
  background-color: transparent !important;
  width: 100%;
}

.navbar-collapse {
  justify-content: flex-end;
}

.nav-link {
  color: #fff !important;
}

.brand-container {
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif; /* Use correct font family name */
  font-weight: bold;
  padding-left: 10px;
}

.logo{
  transform: translate(-7px,0);
}

.connectwal{
  margin-right: 15px;
}